.logo{
    height: 60px;
    width: 60px;
    margin-left: 20px;
 }
 #imgbb{
  margin-bottom:20px
 }
 #imgbbb{
    margin-bottom:20px
   }
   #navlist li{
      height: 80px;
      padding: 20px;
      color: none;
   }  