#my-paragraph{
    display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

#search{
    height: 48px;
    width: 250px;
  
  }

.pagination{
  text-align: center;
  margin-bottom: 20px;
  
}
.pagination .notselected{
  
  height: 45px;
  width: 30px;
  padding: 10px;
  color: greenyellow;
  background-color: rgb(136, 126, 134);
  border-radius:5px ;
  
  
  
}

.pagination .selected{
  background-color: #ea910b;
  padding: 10px;
  width: 30px;
  color: greenyellow;
 
}

/* #page-btn{
  height: 10px;
  width: 10px;
} */
/* Your existing styles */

/* Hide the drawer by default for smaller screens */
.drawer-side {
  display: none;
}

/* Show the drawer on larger screens */
@media (min-width: 768px) {
  .drawer-side {
      display: block;
  }
}
